@use "vars" as *;

window#bar-spacer {
  background: transparent;
}

window.Bar {
  background: transparent;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;

  > centerbox {
    background: transparent;
  }

  .bar-pill {
    background: $surface;
    border-radius: 10px;
    margin: 8px 0;
  }

  button {
    background-color: $surface-raised;
    border-radius: 10px;
    margin: 2px;
    padding: 1px 6px;
    min-width: 16px;
    min-height: 8px;
    transition: all 200ms ease;
    label {
      margin: 0;
      padding: 0;
    }
    &:hover {
      color: $accent;
      background-color: $surface-raised;
    }
  }
}
