// ───────────────────────────────────────────────────────────────
//  WINDOW RULES
// ───────────────────────────────────────────────────────────────
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

// kitty
window-rule {
    match app-id="kitty"
    draw-border-with-background false
    background-effect {
        blur true
    }
}

//update.sh for kitty
window-rule {
    match app-id="kitty" title="^update\\.sh$"
    open-floating true
}

//maximized apps
window-rule {
    match app-id="chromium"
    match app-id="steam"
    match app-id="discord"
    match app-id="zed"
    match app-id="btop"
    open-maximized true
}

// zed
window-rule {
    match app-id="dev.zed.Zed"
    draw-border-with-background false
    background-effect {
        blur true
    }
}

// ───────────────────────────────────────────────────────────────
//  WORKSPACES
// ───────────────────────────────────────────────────────────────

workspace ""
workspace ""
workspace ""

// Steam client, games (games run as steam_app_<id>) and Discord
window-rule {
    match app-id="^steam$"
    match app-id="^steam_app_"
    match app-id="^discord$"
    open-on-workspace "\u{f1b6}" // steam icon
}

// Chromium
window-rule {
    match app-id="^chromium$"
    open-on-workspace "\u{f268}" // chrome icon
}

