$fg-color: #585e63;
$bg-color: #262b3b;

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  > centerbox {
    background: $bg-color;
    border-radius: 10px;
    margin: 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}


.battery {
  .battery-icon {
    color: ##1cfc03;
  }
  .battery-percent {
    color: #ffffff;
  }
}
