window.Bar {
  background: transparent;
  font-weight: bold;

  > centerbox {
    background: #1D1F29;
    border-radius: 10px;
    margin: 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}
