// ==========================================
// BATTERY STYLES
// Includes: Battery button, BatteryMenu
// ==========================================

.battery {
  &.full     { color: #1cfc03; }
  &.high     { color: #a6e22e; }
  &.medium   { color: #f4bf75; }
  &.low      { color: #fd971f; }
  &.critical { color: #f92672; }
}

window#battery-menu {
  background: #262b3b;
  border-radius: 10px;

  box {
    padding: 10px;

    label {
      color: #ffffff;
    }
  }
}
