window#power-menu {
  background: #262b3b;
  border-radius: 10px;

  box {
    padding: 8px;
  }

  button {
    border-radius: 8px;
    margin: 4px;
    padding: 8px 16px;

    &.power-button-reboot   { color: #1cfc03; }
    &.power-button-shutdown { color: #f92672; }
    &.power-button-suspend  { color: #f4bf75; }
  }
}
