$bg-color: #262b3b;
$fg-color: #585e63;
$green: #1cfc03;
$white: #ffffff;

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  > centerbox {
    background: $bg-color;
    border-radius: 10px;
    margin: 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}

.battery {
  &.full     { color: #1cfc03; }
  &.high     { color: #a6e22e; }
  &.medium   { color: #f4bf75; }
  &.low      { color: #fd971f; }
  &.critical { color: #f92672; }
}            
 
