// ==========================================
// VOLUME STYLES
// Includes: VolumeButton, VolumeMenu
// ==========================================

@use "vars" as *;

window#volume-menu {
  background: $surface-popup;
  border-radius: 10px;

  box {
    padding: 10px;

    label {
      color: #ffffff;
    }
  }
}
