// ==========================================
// WIFI STYLES
// Includes: WifiButton, WifiMenu
// ==========================================

window#wifi-menu {
  background: #262b3b;
  border-radius: 10px;

  box {
    padding: 10px;

    label {
      color: #ffffff;
    }
  }
}
