// ==========================================
// WIFI STYLES
// Includes: WifiButton, WifiMenu
// ==========================================

@use "vars" as *;

window#wifi-menu {
  background: $surface-popup;
  border-radius: 10px;

  box {
    padding: 10px;

    label {
      color: #ffffff;
    }
  }
}
